@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes slide-up-fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@theme {
  --animate-slide-up: slide-up-fade 0.2s ease-out;
}
